ul,ol {
	margin: 0;
}

.add_btn a {
	color: #3AA6E9;
}

.add_btn a:hover {
	color: #2C86C2;
}

.holder {
	margin: 0 100px;
	text-align: right;
}

.holder a {
	font-size: 20px;
	cursor: pointer;
	margin: 0 5px;
	color: #333;
}

.holder a:hover {
	background-color: #222;
	color: #fff;
}

.holder a.jp-previous {
	margin-right: 15px;
}

.holder a.jp-next {
	margin-left: 15px;
}

.holder a.jp-current,a.jp-current:hover {
	color: #FF4242;
	font-weight: bold;
}

.holder a.jp-disabled,a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover
	{
	cursor: default;
	background: none;
}

.holder span {
	margin: 0 5px;
}

.text-center a.unclick {
	color: #CCC;
}