.config_content {
	padding: 25px;
	margin: 0 auto;
}

.process_bar {
	width: 100%;
}

.process_li {
	float: left;
	width: 30%;
	height: 26px;
	line-height: 26px;
	background-color: #ccc;
	text-align: center;
	color: #fff;
	font-size: 13px;
}

.processing {
	background-color: #54B8CD;
}

.process_border {
	float: left;
	width: 0;
	height: 0;
	border: 13px solid;
}

.process_gray {
	border-color: #ccc #ccc #ccc #fff;
}

.process_blue {
	border-color: #54B8CD #54B8CD #54B8CD #fff;
}

.tri_border {
	float: left;
	width: 0;
	height: 0;
	border: 12px solid;
	margin: -12px -13px;
}

.tri_blue {
	border-color: transparent transparent transparent #54B8CD;
}

.tri_gray {
	border-color: transparent transparent transparent #ccc;
}

#step3_form,#step2_form,#step1_form {
	margin-top: 50px;
}

.btnbox {
	margin: 0 auto;
	width: 220px;
	margin-top: -20px;
}

.btnbox2 {
	margin: 0 auto;
	width: 360px;
}

.btnbox2 button {
	margin-right: 20px;
	float: left;
}

.cancel_button {
	float: left;
	display: block;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 30px;
	width: 100px;
	line-height: 30px;
	color: #666;
	cursor: pointer;
	font-size: 13px;
	margin: 20px auto;
	margin-right: 20px;
}

.analyse_result {
	padding: 5px;
	margin: 20px auto;
	background-color: #fff;
	color: #666;
	width: 640px;
	font-size: 13px;
}

.analyse_result em {
	color: red;
	font-size: 14px;
}

.analyse_result input {
	height: 28px;
	line-height: 28px;
	color: #999;
	padding: 1px;
	background-color: white;
	cursor: auto;
	width: 480px;
	border: #cccccc 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-indent: 4px;
}

#analysis_box {
	border: 1px solid #ccc;
	width: 480px;
	padding-left: 8px;
	clear: left;
	float: right;
	margin-right: 20px;
}

#analysis_box ul {
	clear: both;
	float: right;
	width: 480px;
	list-style: none;
}

#analysis_box input {
	width: 320px;
	margin-right: 0;
}

#analysis_box li {
	width: 140px;
	float: left;
	text-align: left;
}

.analyse_result_title {
	float: left;
	height: 28px;
	line-height: 28px;
	width: 140px;
	text-align:center;
}

.addPro_button {
	float: left;
}