		.analyse_result {
	padding: 0px;
	margin: 0px auto;
	background-color: #fff;
	color: #666;
	width: 640px;
	font-size: 13px;
}

.analyse_result em {
	color: red;
	font-size: 14px;
}

.analyse_result input {
	height: 28px;
	line-height: 28px;
	color: #999;
	padding: 1px;
	background-color: white;
	cursor: auto;
	width: 480px;
	border: #cccccc 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-indent: 4px;
}

#analysis_box {
	margin-top: 5px;
	border: 1px solid #ccc;
	width: 805px;
	padding-left: 8px;
	clear: left;
	float: right;
	margin-right: 20px;
}

#analysis_box ul {
	clear: both;
	float: right;
	width: 480px;
	list-style: none;
	margin: 0px;
}

#analysis_box input {
	width: 320px;
	margin-right: 0;
}

#analysis_box ul li.tr_value {
	width: 240px;
	float: left;
	text-align: left;
}

.analyse_result_title {
	float: left;
	height: 28px;
	line-height: 28px;
	width: 140px;
}

.addPro_button {
	float: left;
}

#analysis_box ul {
border-bottom: 0px solid #e9e9e9;
}

#any_left{
	width: 325px;
	float: left;
}
#any_left ul {
	clear: both;
	float: right;
	width: 320px;
	list-style: none;
	margin: 0px;
}

#any_left input {
	width: 320px;
	margin-right: 0;
}

#any_left ul li.tr_value {
	width: 320px;
	float: left;
	text-align: left;
}

#any_right{
	width: 480px;
	float: left;
}
#search_result_em{
	margin-left: -160px;
}
#biaoshi{
	margin-left: 165px;
}