.log_title{
	margin-top: 13px;
	height: 70px;
	float: left;
	font-size: 24px;
	margin-right: 20px;
	line-height: 65px;
	color:#ccc;
}
.subnav{
	margin-top:10px;
	display:none;
}
.subnav_li{
	height: 38px;
	color: #9199A4;
	line-height: 38px;
	text-align:center;
	font-size: 13px;
	cursor: pointer;
	list-style: none;
}	
.subnav_selected{
	color: #2C86C2;
}