
#log_nav {
    float: left;
    list-style: none;
}
#log_nav li {
    display: block;
    float: left;
	padding-left:10px;
	padding-right:10px;
}
#log_nav a {
    color: #666666;
    float: left;
    height: 100%;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    width: 114px;
    display: block;
    text-decoration: none;
}
#log_nav a.selected{
    color: #2C86C2;
}
.addPro_table{
	padding:5px;
	margin:20px auto;
	background-color:#fff;
	color:#666;
}
.addPro_table tr{
	margin-top:10px;
	font-size:13px;
	height:50px;
}
.addPro_table 
td{
	padding-left:20px;
}
.addPro_table td
em{
	color:red;
	font-size:14px;
}
.addPro_table input{
	height: 28px;
	line-height: 28px;
	
	padding: 1px;
	background-color: white;
	cursor: auto;
	width: 480px;
	border: #cccccc 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.addPro_table textarea{
	color: #999;
	padding: 1px;
	background-color: white;
	cursor: auto;
	width: 480px;
	border: #cccccc 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.addPro_button{
	display:block;
	background-color:#2c86c2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:30px;
	width:100px;
	line-height:30px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
	margin:20px auto;
}
.addCancel_button{
	display:block;
	background-color:#2c86c2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:30px;
	width:100px;
	line-height:30px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
	margin:20px auto;
}
.btn_box{
	height:auto;
	border-top:1px solid #E5E5E5;
	margin-top:5px;
	padding-right:15px;
}
