﻿.addInst_title{
	color: #7777cc;
	font-size:20px;
	font-family:微软雅黑;
	text-align:center;
	font-weight:normal;
	border-bottom: 1px solid #dddddd;
	padding:8px;
	margin:0 auto;
	margin-bottom:30px;
	width:350px;
}
.addInst_table{
	padding:5px;
	margin:0 auto;
	background-color:#fff;
	color:#666;
}
.addInst_table
tr{
	font-size:13px;
	height:50px;
}
.addInst_table 
td{
	padding-left:20px;
}
.addInst_table td
em{
	color:red;
	font-size:14px;
}

.addInst_table 
 input {
	height: 28px;
	line-height: 28px;
	color: #999;
	padding: 1px;
	background-color: white;
	cursor: auto;
	width: 320px;
	border: #cccccc 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 15px;
}

.file_upload_btn,.file_cancel_btn{
	margin-top: 8px;
	margin-bottom: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:25px;
	width:50px;
	line-height:25px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
}
.file_upload_btn{
	background-color:#2c86c2;
	margin-left:17px;
}
.file_cancel_btn{
	background-color:#de131d;
	margin-left:3px;
}
.addInst_button{
	background-color:#2c86c2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:45px;
	width:120px;
	line-height:45px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
}
.addInst_button:hover,.file_upload_btn:hover{
	background:#09f;
}
.file_cancel_btn:hover{
	background:#fa5a5a;
}