﻿.detail_title{
	border-left:2px solid #88B7E0;
	color:#333;
	font-family:微软雅黑;
	font-weight:bold;
	margin:8px;
	text-indent: 8px;
}
.detail_box{
	padding:10px;
	margin:10px;
	border:1px solid #DDD;
	background-color:#f3f3f3;
	color:#999;
	font-family:微软雅黑;
	font-size:14px;
	width:96%;
}
.detail_box  ul{
	height:25px;
	margin:10px auto;
}
.detail_box span{
	color:#333;
	padding-left:8px;
}
.detail_box li{
	margin-left:10px;
	list-style-type:none;
	float:left;
	width:30%
}