﻿.code_border{
    border:1px #cccccc solid;
	width:100%;
	margin:auto;
}
.code_description{
    background: none repeat scroll 0 0 rgb(255, 255, 203);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px 5px 5px 5px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 25px;
    padding: 10px;
    margin: 20px;
}

.managemen_cod_title{
    height:50px;
    line-height:25px;
    font-size:16px;
    color:#666666;
    margin:20px auto;
    margin-top:45px;
    margin-bottom:30px;
}



.code_upload_icon {
    background: url(../images/upload.png) center no-repeat;
    width: 35px;
    height: 35px;
    float: left;
}

.code_name {
    float: left;
    font-size: 17px;
    color: rgb(116, 105, 110);
    margin-left: 8px;
}

.code_left_frame {
   font-size: 16px;
   float: left;
   border-radius: 5px;
   border: 1px solid rgb(153, 153, 153);
   width: 45px;
   height: 40px;
   text-align: center;
   line-height: 42px;
   color: rgb(102, 102, 102);
   margin-left: 18px;
}

.code_line_name {
   float: left;
   margin-left: 20px;
   font-size: 16px;
   color: rgb(102, 102, 102);
   width: 210px;
   height: 42px;
   text-align: center;
   line-height: 42px;
   font-size: 22px;
}

.code_git_upload{
   background: none repeat scroll 0 0 #2c86c2;
   color: #FFFFFF;
   cursor: pointer;
   float:right;
   font-size: 15px; 
   height:30px;
   line-height:30px;
   margin-top: 2px;
   margin-bottom: 2px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin-right: 2px;
}


.code_line_name2 {
  margin-left: 20px;
  font-size: 16px;
  width: auto;
  text-align: left;
  line-height: 30px;
  color: rgb(102, 102, 102);
}

.code_manager{
  width:100%;
  height:30px;
  margin-top:20px;
  margin-bottom:20px;
}
 


