﻿#manage_service_content{
	padding:30px 40px;
}
.description{
    background: none repeat scroll 0 0 rgb(255, 255, 203);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px 5px 5px 5px;
    color: rgb(102, 102, 102);
    font-size: 12px;
    padding: 10px;
	width:560px;
	margin:10px auto;
	margin-bottom:30px;
}
#manage_service_content ul{
	margin:20px 30px;
}
#manage_service_content ul li{
	list-style:none;
	height:40px;
	line-height:40px;
}
.showbtn{
	border: 1px solid  rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
	height:28px;
	line-height:28px;
	float:right;
	width:65px;
	font-size: 12px;
	text-align:center;
}