* {
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}

a {
    text-decoration: none;
}

/* body {
	background-image:url(../images/background.png);
	background-repeat:no-repeat;
  	background-position:center;
} */

.header{
	background-image: url(../images/nav_bg.png);
	background-repeat:repeat;
	background-attachment:fixed;
    float: left;
    height: 80px;
    opacity: 0.95;
    width: 100%;
    z-index: 99;
}

.header1{
    height: 80px;
    margin: auto;
    width: 1024px;
}
.headline{
	float:left;
    height: 80px;
    line-height: 80px;
	width:auto;
}

.headline 
img{
	height:76px;
}
.header_title{
    float: right;
    height: 80px;
    width: 200px;
    line-height: 80px;
}

.header_title_action{
    float:right;
    height: 80px;
    line-height: 80px;
}

.header_title_action #login{
    float:left;
}


.header_title_action_detail{
    width: 60px;
    height: 25px;
    float: left;
    background: #207bb7;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    font-weight: 500;
    cursor: pointer;
    border: #065386 1px solid;
}

.main{
    float: left;
    width: 100%;
    min-height: 550px;
    background: #FFFFFF;
    padding-bottom: 30px;
}

.maincontent{
    width: 942px;
    height: 100%;
    background: #ffffff;
    margin: auto;
}

.mainlist_reg_log{
    width: 942px;
    height: auto;
    margin: auto;
    float: left;
    padding: 10px;
    margin-top: 60px;
}

.mainlist_reg_log_left{
    height:auto;
	width:525px;
	float: left;
    border-right: #cccccc 1px solid;
}

.mainlist_reg_log_right{
    width: 390px;
    height: 400px;
    float: left;
}

.mainlist_reg_log_title{
    color: #2C86C2;
    font-size: 34px;
    height: 32px;
    line-height: 32px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.mainlist_reg_log_input{
    width:525px;
	height:57px;
}

.mainlist_reg_log_input_item{
    line-height:35px;
    border: 1px solid #CCCCCC;
    color: #A4A8B0;
    font-size: 14px;
    height: 35px;
    margin: 8px 0;
    padding-left: 5px;
    width: 450px;
}

.mainlist_reg_log_input_error{
   height: auto;
   float: left;
   margin-top: -6px;
   color: red;
   line-height: 10px;
   width: 450px;
   font-size: 12px;
}

.mainlist_reg_log_button{
   background: url(../images/register_btn.png) no-repeat;
   border: 1px solid;
   color: #FFFFFF;
   cursor: pointer;
   font-family: '微软雅黑';
   font-size: 18px;
   font-weight: bold;
   height: 42px;
   margin-top: 25px;
   width: 133px;
}

.go_register_link{
   color: #007FD2;
   float: right;
   font-size: 14px;
   margin-right: 100px;
   margin-top: 45px;
   cursor: pointer;
}

.no_account {
   float: right;
   font-size: 14px;
   margin-right: 10px;
   margin-top: 45px;
   color: #797979;
}

.home_footer {
   background: #0f6096;
   border-top: 1px solid #ccc;
   width: 100%;
   height: 120px;
   float: left;
   bottom: 0px;
}
