﻿.serv_table {
	margin: 0 auto;
    margin-bottom: 20px;
    width: 96%;
    border-collapse: collapse;
}

.serv_table 
tr{	
	margin:0 auto;
    border-bottom: 1px solid #ccc;
	height: 41px;
    text-align: center;
    font-size: 18px;
}
.serv_table
td {
	font-size: 14px;
}
.serv_table th{
	font-weight:normal;
}
.serv_table td, .serv_table th {
	padding:0 auto;
	padding-left:20px;
	padding-right:20px;
    height: 35px;
    color: #666666;
	text-align:center;
}
.serv_table
img{
	height:35px;
	width:35px;
	margin-right:10px;
	vertical-align:middle;
}
.serv_table_bound,.serv_table_unbound{
	width:66px;
	height:26px;
	line-height:26px;
	text-align:center;
	float:left;
	cursor:pointer;
	border:none;
	margin-right:1px;
	color:#ffffff;
}
.serv_table_unbound{
	background:#9f0e15;
}
.serv_table_unbound:hover{
	background:#de131d;
}
.serv_table_bound{
	background:#2C86C2;
}
.serv_table_bound:hover{
	background:#09f;
}
button {
	margin-top: 2px;
	margin-bottom: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
}
.create_service_title{
	margin:10px auto;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	color:#666;
}
.create_service_box {
    width: 96%;
    float: left;
    margin: 0px 20px 20px 20px;
    padding-bottom: 20px;
}
