﻿.chart_catalog{
	margin:10px 10px;
	width:240px;
	float:right;
}
.chart_catalog ul{
	height:30px;
}
.chart_catalog li{
	list-style-type:none;
	width:75px;
	float:right;
	border:1px solid #eeeeee;
	font-size:16px;
	font-family:Arial,Verdana,Sans-serif;
	text-align:center;
	height:30px;
	line-height:30px;
}
.chart_catalog li:first-child{
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.chart_catalog_selected {
	background-color:#E5E5E5;
	cursor:pointer;
}
.radius_style_left{
	-webkit-border-radius:4px 0 0 4px ;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
}
.chart_catalog li:hover{
	background-color:#E5E5E5;
	cursor:pointer;
}