* {
	margin: 0;
	padding: 0;
	font-family: 微软雅黑;
}

.header {
	width: 100%;
	height: 80px;
	background-image: url(../images/nav_bg.png);
	background-repeat: repeat;
	background-attachment: fixed;
}

.header1 {
	height: 80px;
	margin-left: 50px;
	margin-right: 100px;
	line-height: 80px;
}

.headline {
	float: left;
	height: 80px;
	line-height: 80px;
	width: auto;
}

.headline 
img {
	height: 76px;
	margin-right: 20px;
}

a {
	text-decoration: none;
}

#nav {
	float: left;
	list-style: none;
}

#nav li {
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

#nav a {
	color: #666666;
	float: left;
	height: 100%;
	line-height: 80px;
	text-align: center;
	font-size: 20px;
	width: 114px;
	display: block;
	text-decoration: none;
}

#nav a.selected {
	color: #2C86C2;
}

.menu {
	color: #333;
	float: left;
	height: 100%;
	line-height: 80px;
	text-align: center;
	font-size: 20px;
	width: 114px;
	display: block;
	cursor: pointer;
}

.menu_selected {
	color: #2C86C2;
}

/*index-detail部分*/
.container {
	
}

.up {
	height: 100px;
	border-bottom: 1px solid #ccc;
}

.progress_back {
	float: left;
}

.column {
	height: 100px;
	background: rgb(255, 255, 255);
	margin: 0 auto;
}

.column tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.column tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.column td {
	display: table-cell;
	vertical-align: inherit;
}

.box_1 {
	height: 20px;
	color: #666666;
	float: left;
	font-weight: bold;
	margin-right: 10px;
}

.box_1_1 {
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	color: rgb(102, 102, 102);
	float: left;
	letter-spacing: 1px;
	margin-left: 10px;
	margin-right: 30px;
}

.progress {
	height: 20px;
	border: 1px solid rgb(204, 204, 204);
}

.progress .progress_bar {
	background: #3aa6e9;
	border-color: #3aa6e9;
}

.progress>span {
	position: relative;
	float: left;
	margin: 0 -1px;
	min-width: 0px;
	height: 18px;
	line-height: 16px;
	text-align: right;
	border: 1px solid;
	border-right: 0;
	border-left: 0;
}

.progress>span:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 18px;
}

.appcolumn {
	padding-top: 40px;
	height: 60px;
	background: #fff;
	margin: auto auto;
	float: right;
}

.table {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
	width: 96%;
	font-size: 18px;
	border-collapse: collapse;
}

.table tr {
	border-bottom: 1px solid #ccc;
}

.table tr,.table th {
	height: 45px;
	color: #666666;
	text-align: center;
}

.table tr {
	height: 61px;
}

.breakout {
	background-image: url(../images/breakout.png);
	width: 75px;
	height: 26px;
	margin: 0 auto;
	cursor: pointer;
}

.add_btn a {
	margin: 50px auto 0;
	text-align: center;
	display: block;
	font-size: 30px;
	color: #3AA6E9;
}

.create_content {
	width: 100%;
	float: left;
}

.create_content_illustration {
	color: #A1A1A1;
	float: left;
	font-size: 28px;
	font-weight: 700;
	height: 60px;
	line-height: 60px;
	margin-bottom: 13px;
	margin-top: 40px;
	text-align: center;
	width: 100%;
}

.create_content_1 {
	width: 96%;
	float: left;
	margin: 0px 20px 20px 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px #a1a1a1;
}

.create_content_2 {
	width: 96%;
	float: left;
	margin: 20px 20px 30px;
}

.create_content_box {
	width: 108px;
	height: 105px;
	float: left;
	margin-top: 20px;
	margin-left: 37px;
	margin-right: 39px;
	margin-bottom: -1px;
	line-height: 100px;
	text-align: center;
	font-size: 14px;
	color: #666666;
	background: #ffffff;
	cursor: pointer;
	border: 2px solid #fff;
	border-radius: 3px;
	padding-top: 15px;
}

.create_content_selected {
	border: 2px solid rgb(44, 134, 194);
}

.create_content_box_ser_bk {
	width: 108px;
	height: 70px;
	float: left;
	background: #fff;
}

.create_content_url_left {
	width: 60%;
	height: 40px;
	float: left;
	font-size: 14px;
	color: #666666;
	margin-left: 50px;
}

.create_content_url_left
input {
	height: 28px;
	line-height: 28px;
	color: #999;
	padding: 1px;
	background-color: white;
	cursor: auto;
	border: #cccccc 1px solid;
}

.create_content_button {
	width: 160px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	float: right;
	line-height: 40px;
	background: #2C86C2;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
	margin-right: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.create_content_button:hover {
	background: #09f;
}

.managemen_ser_pic {
	height: 70px;
	width: 106px;
}

.managemen_ser_word {
	float: left;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 108px;
}

.category_btn_left {
	float: left;
	display: block;
	margin-left: 5%;
	margin-top: 1px;
	text-align: center;
	cursor: pointer;
	border: none;
	color: #ffffff;
	font-size: 14px;
	background-color: #2c86c2;
	padding: 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.category_btn {
	float: left;
	display: block;
	margin-left: 2px;
	margin-top: 1px;
	text-align: center;
	cursor: pointer;
	border: none;
	color: #ffffff;
	font-size: 14px;
	background-color: #2c86c2;
	padding: 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.category_btn_left:hover {
	background: #09f;
}

.category_btn_right {
	float: left;
	display: block;
	margin-left: 2px;
	height:16px;
	width:65px;
	margin-top: 1px;
	text-align: center;
	cursor: pointer;
	border: none;
	color: #ffffff;
	font-size: 14px;
	padding: 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.category_btn:hover {
	background: #09f;
}


