#custom-demo .uploadifyQueueItem {
	background-color: #FFFFFF;
	border: none;
	border-bottom: 1px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	height: 50px;
	margin-top: 0;
	padding: 10px;
	width: 350px;
}

#custom-demo .uploadifyError {
	background-color: #FDE5DD !important;
	border: none !important;
	border-bottom: 1px solid #FBCBBC !important;
}

#custom-demo .uploadifyQueueItem .cancel {
	float: right;
}

#custom-demo .uploadifyQueue .completed {
	color: #C5C5C5;
}

#custom-demo .uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}

#custom-demo .uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}

#custom-demo #custom-queue {
	border: 1px solid #E5E5E5;
	height: 213px;
	margin-bottom: 10px;
	width: 370px;
}