﻿.var_table {
	margin: 0px auto;
	padding:0px;
    margin-bottom: 20px;
    border-collapse: collapse;
	width:100%;
}

.var_table 
tr{	
	height: 50px;
    border: none;
	margin-bottom:20px;
	margin-top:0px;
}
.var_table 
td{
	font-size: 14px;
}
.var_table 
th {
	font-size: 16px;
	padding-left: 15px;
}
.var_table 
thead{
	border-bottom: 2px solid #CCCCCC;
}

.var_table td, .var_table th {
	font-weight:normal;
    color: #666666;
	text-align:left;
}
.var_table 
input{
	height: 28px;
	line-height:28px;
	color:#999;
	padding: 1px;
	background-color: white;
	cursor: auto;
	width:90%;
	border: #cccccc 1px solid;
	margin-right: 10%;
}
.button_save,.button_del{
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 30px;
	padding-right:10px;
	border:none;
}
.button_save{
	background: #2C86C2;
	background-image:url(../images/icon_create.png);
	background-repeat:no-repeat;
	background-position:left;
}
.button_save:hover{
	background:#09f;
	background-image:url(../images/icon_create.png);
	background-repeat:no-repeat;
	background-position:left;
}
.button_del{
	background:#d7392e;
	background-image:url(../images/icon_del.png);
	background-repeat:no-repeat;
	background-position:left;
}
.button_del:hover{
	background:#fa5a5a;
	background-image:url(../images/icon_del.png);
	background-repeat:no-repeat;
	background-position:left;
}