.log_table_bound,.log_table_unbound{
	width:66px;
	height:26px;
	line-height:26px;
	text-align:center;
	cursor:pointer;
	margin-right:1px;
	border:none;
	color:#ffffff;
}
.log_table_unbound{
	background:#9f0e15;
}
.log_table_unbound:hover{
	background:#de131d;
}
.log_table_bound{
	background:#2C86C2;
}
.serv_table_bound:hover{
	background:#09f;
}
button {
	margin-top: 2px;
	margin-bottom: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

    .text-left {
        text-align: left;
    }
    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .width-50 {
        width: 50%;
    }
    .width-25 {
        width: 25%;
    }
    #top {
        height: 40px;
        margin: 10px 0;
    }
    #top h2 {
        float: left;
        margin: 0;
        font-size: 20px;
        font-weight: normal;
        padding: 0 5px;
        border-left: 3px solid #208fee;
        margin-left:40px;
    }
    #top button {
        float: right;
        background: #208fee;
        color: #fff;
        padding: 6px 9px;
        background-image: -webkit-linear-gradient(top,#208fee,#0d73da);
        text-shadow: 0 1px 1px rgba(0,0,0,.12);
        border: 1px solid #045BB2;
        box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15);
        cursor: pointer;
        border-radius: 2px;
        margin-right:50px;
    }
    #search input {
        padding: 6px 9px;
        min-width: 200px;
        border: 2px solid #e9e9e9;
        margin-left:40px;
    }
    #search button {
        height: 32px;
        padding: 6px 9px;
        text-shadow: 0 1px 1px rgba(0,0,0,.12);
        background-image: -webkit-linear-gradient(top,#f8f8f8,#f4f4f4);
        border: 2px solid #e9e9e9;
        cursor: pointer;
    }
    table {
        width: 92%;
         border-collapse: collapse;
        margin-top: 5px;
        margin-bottom: 20px;
        border-bottom: 2px solid #e9e9e9;
        margin-left:40px;
    }
    table thead tr {
        border-top: 2px solid #e9e9e9;
        border-bottom: 2px solid #e9e9e9;
    }
    table th {
        color: #a9a9a7;
        font-weight: normal;
        padding: 5px;
    }
    table td {
        padding: 5px;
    }
    table a {
        text-decoration: none;
        color: #208fee;
    }
    table .create {
        height: 150px;
    }
    #page {
        height: 35px;
        margin-right:70px;
    }
    #page span {
        float: right;
        line-height: 35px;
    }
    #page ul {
        float: right;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 15px;
    }
    #page ul li {
        float: left;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        border-left: 1px solid #e9e9e9;
    }
    #page ul a {
        text-decoration: none;
        display: block;
        width: 33px;
        height: 33px;
        line-height: 30px;
        text-align: center;
    }
    #page ul a:hover {
        background: #556676;
        color: #fff;
    }
    #page li.right {
        border-right: 1px solid #e9e9e9;
    }
    #page li.selected > a {
        background: #556676;
        color: #fff !important;
    }
    
.log_title{
	margin-top: 13px;
	margin-left:100px;
	height: 70px;

	text-align: center;
	font-size: 24px;
	line-height: 65px;
	color:#ccc;
}

