﻿#top_cat{
	margin:20px ;
	border-left: 2px solid #88b7e0;
}
#top_cat a{
	text-decoration:none;
	border-color: #cccccc;
	border: 1px solid #bcbcbc;
	background-color: #fafafa;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #f3f3f3));
	background: -webkit-linear-gradient(top, #f9f9f9,#f3f3f3);
	background: -moz-linear-gradient(top, #f9f9f9,#f3f3f3);
	background: -o-linear-gradient(top, #f9f9f9,#f3f3f3);
	background: linear-gradient(top, #f9f9f9,#f3f3f3);
	text-shadow: 0px 0px 1px rgba(255,255,255,0.2);
	font-size: 12px;
	padding: 4px 12px;
	height: 14px;
	line-height: 14px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	color: #333333;
}
#top_cat a:link,#top_cat a:visited{
	color: #333333;
}
#top_title{
	display:inline;
	margin:0 15px 0 10px;
	font-size:20px;
	color:#333;
}

#cat-content{
	margin:0 20px ;
}
#cat-content h5{
	font-size: 14px;
	margin:8px 5px;
}
.cat-search{
	border-top: 1px solid #ddd;
	padding:15px 8px;
}
.cat-search input,.cat-search select {
	padding: 6px 2px;
	border: 1px solid #e9e9e9;
}
.cat-search input{
	width: 350px;
	padding: 6px 9px;
}
.cat-search button{
	height: 32px;
	padding: 6px 9px;
	text-shadow: 0 1px 1px rgba(0,0,0,.12);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f4f4f4);
	border: 2px solid #e9e9e9;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}
#cat-chart{
	width:90%;
	margin:30px auto;
}
#cat-log {
	border-collapse: collapse;
	clear:both;
	width: 100%;
	border-bottom: 1px solid #e9e9e9;
	font-weight:normal;
	text-align:left;
}
#cat-log thead tr{
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	font-size:14px;
	color: #999;
}
#cat-log tbody tr{
	font-size:12px;
	color: #333;
	border-bottom:1px solid #e9e9e9;
}
#cat-log tbody tr td span{
	color: #88b7e0;
}
#cat-log thead tr th,#cat-log tr td{
	padding:5px 8px;
}
#cat-log thead tr th:first-child{
	width:280px;
}