#top_cat{
	border-left: 2px solid #88b7e0;
	float: left;
}
#top_cat a{
	text-decoration:none;
	border-color: #cccccc;
	border: 1px solid #bcbcbc;
	background-color: #fafafa;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #f3f3f3));
	background: -webkit-linear-gradient(top, #f9f9f9,#f3f3f3);
	background: -moz-linear-gradient(top, #f9f9f9,#f3f3f3);
	background: -o-linear-gradient(top, #f9f9f9,#f3f3f3);
	background: linear-gradient(top, #f9f9f9,#f3f3f3);
	text-shadow: 0px 0px 1px rgba(255,255,255,0.2);
	font-size: 12px;
	padding: 4px 12px;
	height: 14px;
	line-height: 14px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	color: #333333;
}
#top_cat a:link,#top_cat a:visited{
	color: #333333;
}
#top_title{
	display:inline;
	margin:0 15px 0 10px;
	font-size:18px;
	color:#333;
}
.c_search{
	float:right;
	margin:0 5px 20px 0;
}
.c_search input {
	padding: 6px 9px;
	min-width: 200px;
	border: 1px solid #e9e9e9;
}
.c_search button{
	height: 32px;
	padding: 6px 9px;
	text-shadow: 0 1px 1px rgba(0,0,0,.12);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f4f4f4);
	border: 2px solid #e9e9e9;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}
.width-15 {
	width: 15%;
}
.width-25 {
	width: 25%;
}
.width-35 {
	width: 35%;
}
.cancel_button{
	float:left;
	display:block;
	background-color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:38px;
	width:80px;
	line-height:38px;
    color: #666;
    cursor: pointer;
    font-size: 13px;
	margin:30px auto;
	margin-left:20px;
}
.webadd_button{
	display: block;
	float: left;
	background-color: #2c86c2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 40px;
	width: 80px;
	line-height: 30px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 13px;
	margin: 20px auto;
	margin-left: 20px;
}

.webcancel_button{
	display: block;
	float: left;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 40px;
	width: 80px;
	line-height: 30px;
	color: #000000;
	cursor: pointer;
	font-size: 13px;
	margin: 20px auto;
	margin-left: 20px;
}

._content{
	position: relative;
	top: 25px;
	width:100%;
	border-top:1px solid #cccccc;
	clear: both;
	padding: 18px 10px;
}
.monitor_status{
color: #090;
}
