/* demo page styles */
/* body {
    background:#eee;
    margin:0;
    padding:0;
}
.example {
    background:#fff url(../images/tech.jpg);
    width:770px;
    height:570px;
    border:1px #000 solid;
    margin:20px auto;
    padding:15px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
} */


/* main menu styles */
#list,#list ul {
    background-image:url(../images/tr75.png);
    list-style:none;
    margin:0;
    padding:0;
}
#list {
    height:41px;
    padding-left:5px;
    padding-top:5px;
    position:relative;
    z-index:2;
}
#list ul {
    left:-9999px;
    position:absolute;
    top:37px;
    width:auto;
}
#list ul ul {
    left:-9999px;
    position:absolute;
    top:0;
    width:auto;
}
#list li {
    float:left;
    margin-right:5px;
    position:relative;
}
#list li a {
    background:#c1c1bf;
    color:#000;
    display:block;
    float:left;
    font-size:16px;
    padding:8px 10px;
    text-decoration:none;
}
#list > li > a {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    border-radius:6px;

    overflow:hidden;
}
#list li a.fly {
    padding-right:15px;
}
#list ul li {
    margin:0;
}
#list ul li a {
    width:120px;
}
#list ul li a.fly {
    padding-right:10px;
}

/*hover styles*/
#list li:hover > a {
    background-color:#858180;
    color:#fff;
}

/*focus styles*/
    #list li a:focus {
    outline-width:0;
}

/*popups*/
#list li a:active + ul.dd,#list li a:focus + ul.dd,#list li ul.dd:hover {
    left:0;
}
#list ul.dd li a:active + ul,#list ul.dd li a:focus + ul,#list ul.dd li ul:hover {
    left:140px;
}